@import url('https://fonts.googleapis.com/css?family=Adamina&display=swap');

body {
  background: #cd2028;
  font-family: 'Adamina', serif;
}

.name {
  width: 100%;
  height:100%;
  padding: 5px;
}

.orders{
  text-align: center;
}

.healthsection {
  height: 100%;
  width: 100%;
  background: #ffff;
}

.octagon {
  border-radius: 5px;
  border-style: double;
  border-width: 5px;
  background-color: #ffff;
}

.stats{
  height: 100px;
}

.statval {
  font-size: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.levels {
  height: 50px !important;
}

.topheader {
  width: 45%;
  padding: 0px !important;
}

.bottomfield {
  padding: 0px !important;
  background: #cd2028;
}

.curhealth {
  width: 75%;
  position: absolute;
}

.maxhealth {
  width: 75%;
  position: absolute;
}

.stt {
  width: 50%;
}

.scroll {
  overflow: auto;
  max-height: 601px;
}
